beer-loader.individual-loader(*ngIf="loadingState===loadingStateEnum.Loading", [showLoader]="loadingState===loadingStateEnum.Loading")

div

  table.my-performance-table.col-100-pct.view-type([ngClass]="tableClasses")

    thead.col-100-pct

      tr.top-header.col-100-pct
        th.checkbox-col(colspan=1)
          mat-checkbox.select-all-checkbox(aria-label="Select All Stores",
          [checked]="isSelectAllChecked.checked",
          (click)="toggleSelectAllStores()")
        th.left-col.sort-indicator(colspan=1, (click)="sortRows(columnType.descriptionRow0)")
          span {{ tableHeaderRow[0] }}
            sort-indicator([status]="getSortStatus(columnType.descriptionRow0)")
        th.left-col.sort-indicator(colspan=1, (click)="sortRows(columnType.descriptionRow1)")
          span {{ tableHeaderRow[1] }}
            sort-indicator([status]="getSortStatus(columnType.descriptionRow1)")
        th.segment-col.sort-indicator(colspan=1, (click)="sortRows(columnType.descriptionRow2)")
          span {{ tableHeaderRow[2] }}
            sort-indicator([status]="getSortStatus(columnType.descriptionRow2)")
        th(colspan=3)
          span {{ tableHeaderRow[3] }}
        th(colspan=3)
          span {{ tableHeaderRow[4] }}
        th.right-col.sort-indicator(colspan=1, (click)="sortRows(columnType.descriptionRow5)")
          span {{ tableHeaderRow[5] }}
            sort-indicator([status]="getSortStatus(columnType.descriptionRow5)")

      tr.sub-header.col-100-pct([ngClass]="getSubHeaderClasses()")
        th(colspan=1)
        th(colspan=1)
        th(colspan=1)
        th(colspan=1)
        th.center-col.sort-indicator(colspan=1, (click)="sortRows(columnType.metricColumn0)")
          span CTY
            sort-indicator([status]='getSortStatus(columnType.metricColumn0)')
        th.center-col.sort-indicator(colspan=1, (click)="sortRows(columnType.metricColumn1)")
          span VS YA
            sort-indicator([status]='getSortStatus(columnType.metricColumn1)')
        th.center-col.sort-indicator(colspan=1, (click)="sortRows(columnType.metricColumn2)")
          span VS YA %
            sort-indicator([status]='getSortStatus(columnType.metricColumn2)')
        th.center-col.sort-indicator(colspan=1, (click)="sortRows(columnType.metricColumn3)")
          span L90
            sort-indicator([status]='getSortStatus(columnType.metricColumn3)')
        th.center-col.sort-indicator(colspan=1, (click)="sortRows(columnType.metricColumn4)")
          span VS YA
            sort-indicator([status]='getSortStatus(columnType.metricColumn4)')
        th.center-col.sort-indicator(colspan=1, (click)="sortRows(columnType.metricColumn5)")
          span VS YA %
            sort-indicator([status]='getSortStatus(columnType.metricColumn5)')
        th(colspan=1)

      tr.total-row.col-100-pct(
        *ngIf="totalRow",
        list-performance-table-row,
        [rowData]="totalRow")

    tbody([ngClass]="getTableBodyClasses()")
      tr.entity-row.col-100-pct(
        *ngFor="let row of sortedTableData, let rowIndex = index",
        [ngClass]="getEntityRowClasses(row)",
        list-performance-table-row,
        [rowData]="row",
        (click)="onRowClicked(rowType.data, rowIndex, row)")
