beer-loader.individual-loader(*ngIf="loadingState===loadingStateEnum.Loading", [showLoader]="loadingState===loadingStateEnum.Loading")

mat-sidenav-container.tables-container((backdropClick)="toggleOpportunityTable()")
  table.list-opportunities-table
    thead
      tr.top-header
        th.checkbox-col
          mat-checkbox(aria-label="Select All Stores",
          [checked]="isSelectAllChecked",
          (change)="toggleSelectAllStores($event)",
          [(indeterminate)]="isIndeterminateChecked",
          [disableRipple]="true",
          [hidden]="isOppsTableDataEmpty()")
        th.store-column
          span.sort-text((click)="sortRows(columnType.storeColumn)") {{ tableHeaderRow[0] }}
            sort-indicator.sort-indicator([status]="getSortStatus(columnType.storeColumn)")
        th.distributor-column
          span.sort-text((click)="sortRows(columnType.distributorColumn)") {{ tableHeaderRow[1] }}
            sort-indicator.sort-indicator([status]="getSortStatus(columnType.distributorColumn)")
        th.segment-col
          span.sort-text((click)="sortRows(columnType.segmentColumn)") {{ tableHeaderRow[2] }}
            sort-indicator.sort-indicator([status]="getSortStatus(columnType.segmentColumn)")
        th.depletions-col(colspan="2")
          .depletions-col-header {{ tableHeaderRow[3] }}
          .depletions-sorting
            p.depletions-cytd.sort-text((click)="sortRows(columnType.cytdColumn)") CYTD
              sort-indicator.sort-indicator([status]='getSortStatus(columnType.cytdColumn)')
            p.depletions-vsya.sort-text((click)="sortRows(columnType.cytdVersusYaPercentColumn)") VS YA %
              sort-indicator.sort-indicator([status]='getSortStatus(columnType.cytdVersusYaPercentColumn)')
        th.opportunities-col
          span.sort-text((click)="sortRows(columnType.opportunitiesColumn)") {{ tableHeaderRow[4] }}
            sort-indicator.sort-indicator([status]="getSortStatus(columnType.opportunitiesColumn)")
        th.expand-column((click)="onExpandAllClicked()")
          img.expand-icon(*ngIf="!isExpandAll && !isOppsTableDataEmpty()", src="../../../assets/img/icons/add-expand-collapse.svg")
          img.expand-icon(*ngIf="isExpandAll", src="../../../assets/img/icons/minus.svg")

    tbody(*ngFor="let row of sortedTableData | slice:sliceStart:sliceEnd, let rowIndex = index")
      tr.entity-row(
        list-opportunities-table-row,
        [rowData]="row",
        (click)="onRowClicked(rowType.data, rowIndex, row)",
        (onChangeEventEmitter)="onCheckboxChange(row)",
        (onTableRowClicked)="onTableRowClicked(row)"
      )
      tr.table-drawer-row(*ngIf="row.expanded")
        td.table-drawer-cell(colspan="8")
          list-table-drawer(
            [tableData]="row.opportunities",
            (onCheckboxClicked)="onOpportunityCheckboxClicked(row)",
            (onOpportunityTypeClicked)="onOpportunityTypeClicked($event, row.storeColumn, row.unversionedStoreId)"
          )

  mat-sidenav.opportunities-container([align]="'end'", [opened]="isOpportunityTableExtended")
    compass-table-extender-header(
      [mainTitle]="'Opportunity Details'",
      [subtitle]="storeNameSelected",
      (onCloseIndicatorClicked)="toggleOpportunityTable()")
      list-opportunity-extender-body(
        [opportunitySelected]="opportunitySelected",
        [unversionedStoreId]="unversionedStoreId"
      )

div.no-data-cover(*ngIf="isOppsTableDataEmpty()")
  div.no-data-container
    img.no-data-icon(src="../../../assets/img/icons/group.svg")
    p.no-data-cover-message(*ngIf="oppStatusSelected !== 'closed'") You currently don't have any opportunities added to this list.
    p.no-data-cover-message(*ngIf="oppStatusSelected === 'closed'") You currently don't have any closed opportunities.
