div.modal.target-list-modal
  div.title
    h4 Manage Target List
    a.hide-row(ng-click="tld.closeModal()")
  div.modal-form
    div(ng-hide="tld.targetListService.model.currentList.permissionLevel !== 'author'").modal-input
      label name
      input(ng-model="tld.targetListService.model.currentList.name" ng-change="tld.listChanged()")
    div(ng-hide="tld.targetListService.model.currentList.permissionLevel !== 'author'").modal-input
      label Description (optional)
      textarea(ng-model="tld.targetListService.model.currentList.description" ng-change="tld.listChanged()")
    div.modal-input
      label collaborators
      div.collaborator-list
        .collaborator.manage-list(ng-repeat="collaborator in tld.targetListService.model.currentList.collaborators | filter: {'permissionLevel' : 'author'}")
          .align-left(ng-if="tld.targetListService.model.currentList.permissionLevel === 'author'") You
          .align-left(ng-if="tld.targetListService.model.currentList.permissionLevel !== 'author'") {{collaborator.user.firstName | titlecase}} {{collaborator.user.lastName | titlecase}}
          .accent Owner
        .collaborator.manage-list(ng-repeat="collaborator in tld.targetListService.model.currentList.collaborators | filter: {'permissionLevel' : 'collaborate'} || {'permissionLevel' : 'collaborateandinvite'} | orderBy: ['permissionLevel','user.firstName']")
          .align-left(ng-if="tld.userService.model.currentUser.employeeID !== collaborator.user.employeeId") {{collaborator.user.firstName | titlecase}} {{collaborator.user.lastName | titlecase}}
          .align-left(ng-if="tld.userService.model.currentUser.employeeID === collaborator.user.employeeId") You
          md-menu
            md-button(ng-click="$mdOpenMenu($event)" aria-label="Collaborator Options" ng-disabled="!tld.editable")
              span {{tld.permissionLabel(collaborator.permissionLevel)}}
              a(ng-hide="!tld.editable").chevron-down
            md-menu-content.collaborator-options
              md-menu-item(ng-click="tld.selectedCollaboratorId = collaborator.user.employeeId" ng-disabled="") Make Owner
              md-menu-item(ng-click="tld.removeCollaboratorClick(collaborator.user.employeeId)") Remove
          .action-overlay(ng-class="{'confirm': tld.selectedCollaboratorId === collaborator.user.employeeId}")
            div.overlay-wrapper
              p This will cause you to lose editing rights. &nbsp;
                a(ng-click="tld.makeOwner(collaborator.user.employeeId)") Continue Transfer
            div(ng-click="tld.selectedCollaboratorId = ''").hide-wrapper.hide-icon-wrapper.hide-row
        .collaborator.manage-list(ng-repeat="pending in tld.pendingShares")
          .align-left(ng-if="tld.userService.model.currentUser.employeeID !== pending.employee.employeeId") {{pending.employee.firstName | titlecase}} {{pending.employee.lastName | titlecase}}
          .align-left(ng-if="tld.userService.model.currentUser.employeeID === pending.employee.employeeId") You
          md-menu
            md-button(ng-click="$mdOpenMenu($event)" aria-label="Collaborator Options")
              span {{tld.permissionLabel(pending.permissionLevel) | titlecase}}
              a.chevron-down
            md-menu-content.collaborator-options
              md-menu-item(ng-click="tld.removeCollaborator([pending.employee.employeeId])") Remove
    div(ng-hide="tld.targetListService.model.currentList.permissionLevel !== 'author'").modal-input.clearfix
      md-checkbox(ng-model="tld.targetListService.model.currentList.collaboratorPermissionLevel" ng-true-value="'collaborateandinvite'" ng-false-value="'collaborate'" ng-click="tld.changePermissionClick()") Allow Collaborators to invite others
    div(ng-hide="tld.targetListService.model.currentList.permissionLevel === 'collaborate' || tld.closeButton").modal-input
      label(ng-if="tld.targetListService.model.currentList.permissionLevel === 'author'") Add Collaborators
      label(ng-if="tld.targetListService.model.currentList.permissionLevel !== 'author'") Add Recipient
      inline-search(type="user" placeholder="Enter names or CBI Email addresses" variety="manage-collaborators" chosen-result="tld.collaboratorName" callback="tld.addCollaboratorClick(result)")
    div(ng-if="tld.saveButton")
      button.btn-action(ng-disabled="!tld.changed"
                        ng-click="tld.updateList()"
                        analytics-event-on="click"
                        category="{{tld.analyticsCategory}}"
                        action="Manage Target List"
                        label="{{tld.listID}}") Save
      p.cancel.accent(ng-click="tld.closeModal(true)") X Cancel
    button(ng-if="tld.closeButton" ng-click="tld.changed ? tld.navigateToTL() : tld.closeModal(true)").btn-action Close
  div.modal-footer.clearfix(ng-if="tld.targetListService.model.currentList.permissionLevel !== 'author'" ng-class="{'toasted': tld.showToast}")
    button.link.align-left(ng-disabled="tld.leave" ng-click="tld.footerToast('leave')") Leave List
    .toast(ng-hide="!tld.showToast")
      p Are you sure you want to leave this target list?
      p.bold.link(ng-if="!tld.confirmToast")
        a(ng-click="tld.removeCollaborator([tld.userService.model.currentUser.employeeID]); tld.removeFooterToast()"
          analytics-event-on="click"
          category="{{tld.analyticsCategory}}"
          action="Leave Target List"
          label="{{tld.listID}}") Yes, Leave
      a.hide-row(ng-click="tld.removeFooterToast(); tld.leave = false")
  div.modal-footer.clearfix(ng-if="tld.editable" ng-class="{'toasted': tld.showToast}")
    button.link.align-left(ng-click="tld.footerToast('archive', {{tld.listID}})") Archive List
    button.link.align-right(ng-click="tld.footerToast('delete', {{tld.listID}})"
                            ng-disabled="tld.targetListService.model.currentList.collaborators.length > 1 || tld.pendingShares.length > 0") Delete List
    .toast(ng-hide="!tld.showToast")
      p Are you sure you want to <span ng-if="tld.deleting">delete</span><span ng-if="tld.archiving">archive</span> this target list?
      p.bold.link(ng-if="tld.deleting && !tld.confirmToast")
        a(ng-click="tld.pendingCheck()") Yes, Delete
      p.bold.link(ng-if="tld.archiving && !tld.confirmToast")
        a(ng-click="tld.updateList('archive')") Yes, Archive
      a.hide-row(ng-click="tld.removeFooterToast()")
  div.success(ng-if="tld.confirmToast")
    h4 Success!
    p You have deleted this target list. You will be redirected to the Target List Library momentarily.
    img(src="../../assets/img/icons/delete-target-list.svg")
