td.checkbox-col
  mat-checkbox(
    *ngIf="rowData.storeColumn != 'Total'",
    aria-label="Select Store",
    [checked]='rowData.checked',
    [disableRipple]="true",
    (change)="toggleChecked($event)"
  )

td.store-column((click)="tableCellClicked()")
  .store-name {{ rowData.storeColumn | titlecase}}
        span &nbsp;{{ rowData.storeNumber }}
  .store-address {{ rowData.storeAddressSubline }}

td.distributor-column((click)="tableCellClicked()") {{ rowData.distributorColumn }}

td.segment-col((click)="tableCellClicked()") {{ rowData.segmentColumn }}

td.depletions-cytd-col((click)="tableCellClicked()") {{rowData.cytdColumn | number:'1.0-0'}}

td.depletions-vsya-col(
  [ngClass]="getTrendClass(rowData.cytdVersusYaPercentColumn)",
  (click)="tableCellClicked()"
) {{rowData.cytdVersusYaPercentColumn | number:'1.1-1'}}%

td.opportunities-col((click)="tableCellClicked()") {{rowData.opportunitiesColumn | number}}

td.expand-column((click)="tableCellClicked()")
  img.expand-icon(*ngIf="rowData.expanded", src="../../../assets/img/icons/minus.svg")
  img.expand-icon(*ngIf="!rowData.expanded", src="../../../assets/img/icons/add-expand-collapse.svg")
