div.modal
  .title
    h4 Dismiss
    a.hide-row(ng-click="list.closeModal()")
  .modal-container(name="list.dismissOpportunityForm")
    .modal-content
      p If opportunity is dismissed, opportunities for that Package/SKU at that account will not reappear for 90 days
    .modal-content
      md-radio-group(ng-model="list.opportunity.feedback.type" ng-init="list.opportunity.feedback.type = 'notRelevant'")
        md-radio-button.md-primary(value="notRelevant") Recommendation not relevant
        md-radio-button.md-primary(value="other") Other
    .modal-content
      label Additional Feedback
      textarea(ng-model="list.opportunity.feedback.feedback" name="feedback").modal-content-feedback
    .modal-content
      button.btn-action(
        ng-click="list.submitFeedback(list.currentOpportunityId, list.opportunity.feedback); list.closeModal()"
        analytics-event-on="click"
        category="Opportunities"
        action="Dismiss Opportunity"
        label="{{ list.currentOpportunityId }}") Submit
      p.cancel.accent(ng-click="list.opportunityDismissTrigger = false; list.closeModal();") X Cancel
