.target-lists-header
  div(row)
    h1(column='12') Target Lists

.clearfix
  button(ng-if="expanded.buttonState === 'named'" ng-click="expanded.toggleAll(expanded.buttonState)").icon.select-all
    span(ng-if='expanded.isChecked()') Un-
    | Select All
  button(ng-if="expanded.buttonState === 'archived'" ng-click="expanded.toggleAll(expanded.buttonState)").icon.select-all
    span(ng-if='expanded.isCheckedArchived()') Un-
    | Select All

  .target-action-buttons
    button(ng-if="expanded.buttonState === 'named'" ng-disabled="expanded.selected.length === 0" ng-click="expanded.archiveTargetList(expanded.selected)").btn-action Archive
    button(ng-if="expanded.buttonState !== 'shared'" ng-disabled="expanded.selected.length === 0" ng-click="expanded.deleteTargetList(expanded.selected)").btn-action Delete
    button.btn-action(ng-click="expanded.createTargetList($event)") Create a New List

div.expanded-target-lists
  md-tabs(md-dynamic-height='' md-border-bottom md-selected="expanded.selectedTab")
    md-tab(label='My Target Lists' md-on-select="expanded.selector('named')")
    md-tab(label='Shared with Me' md-on-select="expanded.selector('shared')")
    md-tab(label='Archived' md-on-select="expanded.selector('archived')")

  div.tab-content-wrapper
    //- My Target Lists
    div.md-padding.tab-content(ng-cloak ng-class="{active: expanded.buttonState === 'named', left: expanded.selectedTab > 0, 'no-transition': !expanded.userSelectedTab}")
      div(row).clearfix
        div.checkbox-wrapper.placeholder
        div.checkbox-sibling-target(column="12")
          div(row).target-list-count-container
            div(column='6')
              label.left(ng-click="expanded.sortBy('name')" ng-class="{ 'completed' : expanded.sortProperty === 'name'}")
                | <br />List Name
                span(ng-class="{ 'chevron-down-small' : !expanded.listChevron, 'chevron-up-small' : expanded.listChevron}").chevron-down-small
            div(column='2')
              label(ng-click="expanded.sortBy('collaborators.length')" ng-class="{ 'completed' : expanded.sortProperty === 'collaborators.length'}")
                | <br />Collaborators
                span(ng-class="{ 'chevron-down-small' : !expanded.collaboratorsChevron, 'chevron-up-small' : expanded.collaboratorsChevron}").chevron-down-small
            div(column='2')
              label(ng-click="expanded.sortBy('dateOpportunitiesUpdated')" ng-class="{ 'completed' : expanded.sortProperty === 'dateOpportunitiesUpdated'}")
                | <br />Last Updated
                span(ng-class="{ 'chevron-down-small' : !expanded.lastUpdatedChevron, 'chevron-up-small' : expanded.lastUpdatedChevron}").chevron-down-small
            div(column='1')
              label(ng-click="expanded.sortBy('opportunitiesSummary.closedOpportunitiesCount')" ng-class="{ 'completed' : expanded.sortProperty === 'opportunitiesSummary.closedOpportunitiesCount'}")
                | Closed Opps
                span(ng-class="{ 'chevron-down-small' : !expanded.closedOpportunitiesChevron, 'chevron-up-small' : expanded.closedOpportunitiesChevron}").chevron-down-small
            div(column='1')
              label(ng-click="expanded.sortBy('opportunitiesSummary.opportunitiesCount')" ng-class="{ 'completed' : expanded.sortProperty === 'opportunitiesSummary.opportunitiesCount'}")
                | Total Opps
                span(ng-class="{ 'chevron-down-small' : expanded.totalOpportunitesChevron, 'chevron-up-small' : !expanded.totalOpportunitesChevron}").chevron-down-small
      div(row).target-list-detail-container
        .loader-wrap.inline(ng-if="expanded.loaderService.model.loadingFilters" ng-class="{'active': expanded.loaderService.model.loadingFilters}")
          loader
        div(ng-show="!expanded.loaderService.model.loadingFilters && !expanded.userService.model.targetLists.ownedNotArchivedTargetLists.length || expanded.userService.model.targetLists.ownedNotArchivedTargetLists.length === 0 || !expanded.loaderService.model.loadingFilters  && !expanded.userService.model.targetLists.ownedNotArchived").no-opportunities
          h4 It seems that you haven't created any Target Lists yet.
          p Click <a ng-click="expanded.createTargetList($event)">Create a New List</a> to get started.
        ul
          li(ng-repeat="list in expanded.userService.model.targetLists.ownedNotArchivedTargetLists | filter:{deleted:false} | orderBy:expanded.sortProperty:expanded.reverse").clearfix
            div.checkbox-wrapper.named-target-list(ng-click="expanded.toggle(list, expanded.selected)")
              md-checkbox(aria-label="Select Item" ng-checked="expanded.exists(list, expanded.selected)")
            div.checkbox-sibling(column="12"
                                 ui-sref="target-list-detail({id: list.id})"
                                 analytics-on="click"
                                 analytics-event="View Target List"
                                 analytics-category="Target Lists - My Target Lists"
                                 analytics-label="{{list.id}}")
              div(row).stats
                div(column="12")
                  h4(column="6").left {{list.name}}
                  h5(column="2").accent.dropdown-menu-trigger.collaborators {{list.collaborators.length}}
                    span(ng-if="list.collaborators.length > 1")  collaborators
                    span(ng-if="list.collaborators.length < 2")  collaborator
                    ul(ng-class="{'long-collaborators': list.collaborators.length > 4}").dropdown-menu
                      li(ng-class="{'long-collaborators': list.collaborators.length > 4}").member.creator {{expanded.userService.model.currentUser.firstName}} {{expanded.userService.model.currentUser.lastName}}
                      li(ng-class="{'long-collaborators': list.collaborators.length > 4}" ng-repeat="collaborator in list.collaborators| filter: {permissionLevel: 'Collaborate'} | orderBy:'user.firstName'").member {{collaborator.user.firstName | uppercase}} {{collaborator.user.lastName | uppercase}}
                  h5(column="2" am-time-ago="(list.dateOpportunitiesUpdated ? list.dateOpportunitiesUpdated : list.createdAt | amUtc | amLocal)").accent.date
                  h4(column="1").closed {{list.opportunitiesSummary.closedOpportunitiesCount | number}}
                  h4(column="1") {{list.opportunitiesSummary.opportunitiesCount | number}}
              div(row).creator
                h5(column="3").accent.left &nbsp;
              div(row)
                div(column="12")
                  md-progress-linear(md-mode="determinate" ng-value="expanded.ratio(list.opportunitiesSummary.closedOpportunitiesCount, list.opportunities)")

    //- Shared With Me
    div.md-padding.tab-content(ng-cloak ng-class="{active: expanded.buttonState === 'shared', left: expanded.selectedTab > 1, right: expanded.selectedTab < 1, 'no-transition': !expanded.userSelectedTab}")
      div(row)
        div(column="12")
          div(row).target-list-count-container
            div(column='6')
              label.left(ng-click="expanded.sortBy('name')" ng-class="{ 'completed' : expanded.sortProperty === 'name'}")
                | <br />List Name
                span(ng-class="{ 'chevron-down-small' : !expanded.listChevron, 'chevron-up-small' : expanded.listChevron}").chevron-down-small
            div(column='2')
              label(ng-click="expanded.sortBy('collaborators.length')" ng-class="{ 'completed' : expanded.sortProperty === 'collaborators.length'}")
                | <br />Collaborators
                span(ng-class="{ 'chevron-down-small' : !expanded.collaboratorsChevron, 'chevron-up-small' : expanded.collaboratorsChevron}").chevron-down-small
            div(column='2')
              label(ng-click="expanded.sortBy('dateOpportunitiesUpdated')" ng-class="{ 'completed' : expanded.sortProperty === 'dateOpportunitiesUpdated'}")
                | <br />Last Updated
                span(ng-class="{ 'chevron-down-small' : !expanded.lastUpdatedChevron, 'chevron-up-small' : expanded.lastUpdatedChevron}").chevron-down-small
            div(column='1')
              label(ng-click="expanded.sortBy('opportunitiesSummary.closedOpportunitiesCount')" ng-class="{ 'completed' : expanded.sortProperty === 'opportunitiesSummary.closedOpportunitiesCount'}")
                | Closed Opps
                span(ng-class="{ 'chevron-down-small' : !expanded.closedOpportunitiesChevron, 'chevron-up-small' : expanded.closedOpportunitiesChevron}").chevron-down-small
            div(column='1')
              label(ng-click="expanded.sortBy('opportunitiesSummary.opportunitiesCount')" ng-class="{ 'completed' : expanded.sortProperty === 'opportunitiesSummary.opportunitiesCount'}")
                | Total Opps
                span(ng-class="{ 'chevron-down-small' : expanded.totalOpportunitesChevron, 'chevron-up-small' : !expanded.totalOpportunitesChevron}").chevron-down-small
      div(row).target-list-detail-container
        .loader-wrap.inline(ng-if="expanded.loaderService.model.loadingFilters" ng-class="{'active': expanded.loaderService.model.loadingFilters}")
          loader
        div(ng-show="expanded.userService.model.targetLists.sharedNotArchivedCount === 0").no-opportunities
          p It seems that you haven't been invited to any shared Target Lists yet. In the meantime, you can invite others to collaborate on your Target Lists.
          a(ng-click="expanded.selectedTab = 0") Ok, show me my lists
        ul
          li(ng-repeat="list in expanded.userService.model.targetLists.sharedWithMe | filter:{archived:false} | orderBy:expanded.sortProperty:expanded.reverse").clearfix
            div.target-list-element(column="12"
                                    ui-sref="target-list-detail({id: list.id})"
                                    analytics-on="click"
                                    analytics-event="View Target List"
                                    analytics-category="Target Lists - Shared With Me"
                                    analytics-label="{{list.id}}")
              div(row)
                h4(column="6").left {{list.name}}
                div(column="2")
                  h5.accent.dropdown-menu-trigger.collaborators {{list.collaborators.length}}
                    span(ng-if="list.collaborators.length > 1")  collaborators
                    span(ng-if="list.collaborators.length < 2")  collaborator
                    ul(ng-class="{'long-collaborators': list.collaborators.length > 4}").dropdown-menu
                      li(ng-class="{'long-collaborators': list.collaborators.length > 4}").member.creator {{expanded.userService.model.currentUser.firstName}} {{expanded.userService.model.currentUser.lastName}}
                      li(ng-class="{'long-collaborators': list.collaborators.length > 4}" ng-repeat="collaborator in list.collaborators| filter: {permissionLevel: 'Collaborate'} | orderBy:'user.firstName'").member {{collaborator.user.firstName | uppercase}} {{collaborator.user.lastName | uppercase}}
                h5(column="2" am-time-ago="(list.dateOpportunitiesUpdated ? list.dateOpportunitiesUpdated : list.createdAt | amUtc | amLocal)").accent.date
                h4(column="1").closed {{list.opportunitiesSummary.closedOpportunitiesCount | number}}
                h4(column="1") {{list.opportunities | number}}
              div(row).creator
                h5(ng-if="list.targetListAuthor" column="3").accent.left {{list.targetListAuthor}}
              div(row)
                md-progress-linear(md-mode="determinate" ng-value="expanded.ratio(list.opportunitiesSummary.closedOpportunitiesCount, list.opportunities)")

    //- Archived
    div.md-padding.tab-content(ng-cloak ng-class="{active: expanded.buttonState === 'archived', right: expanded.selectedTab < 2, 'no-transition': !expanded.userSelectedTab}")
      div(row).clearfix
        div.checkbox-wrapper.placeholder
        div.checkbox-sibling-target(column="12")
          div(row).target-list-count-container
            div(column='6')
              label.left(ng-click="expanded.sortBy('name')" ng-class="{ 'completed' : expanded.sortProperty === 'name'}")
                | <br />List Name
                span(ng-class="{ 'chevron-down-small' : !expanded.listChevron, 'chevron-up-small' : expanded.listChevron}").chevron-down-small
            div(column='2')
              label(ng-click="expanded.sortBy('collaborators.length')" ng-class="{ 'completed' : expanded.sortProperty === 'collaborators.length'}")
                | <br />Collaborators
                span(ng-class="{ 'chevron-down-small' : !expanded.collaboratorsChevron, 'chevron-up-small' : expanded.collaboratorsChevron}").chevron-down-small
            div(column='2')
              label(ng-click="expanded.sortBy('dateOpportunitiesUpdated')" ng-class="{ 'completed' : expanded.sortProperty === 'dateOpportunitiesUpdated'}")
                | <br />Last Updated
                span(ng-class="{ 'chevron-down-small' : !expanded.lastUpdatedChevron, 'chevron-up-small' : expanded.lastUpdatedChevron}").chevron-down-small
            div(column='1')
              label(ng-click="expanded.sortBy('opportunitiesSummary.closedOpportunitiesCount')" ng-class="{ 'completed' : expanded.sortProperty === 'opportunitiesSummary.closedOpportunitiesCount'}")
                | Closed Opps
                span(ng-class="{ 'chevron-down-small' : !expanded.closedOpportunitiesChevron, 'chevron-up-small' : expanded.closedOpportunitiesChevron}").chevron-down-small
            div(column='1')
              label(ng-click="expanded.sortBy('opportunitiesSummary.opportunitiesCount')" ng-class="{ 'completed' : expanded.sortProperty === 'opportunitiesSummary.opportunitiesCount'}")
                | Total Opps
                span(ng-class="{ 'chevron-down-small' : expanded.totalOpportunitesChevron, 'chevron-up-small' : !expanded.totalOpportunitesChevron}").chevron-down-small
      div(row).target-list-detail-container
        .loader-wrap.inline(ng-if="expanded.loaderService.model.loadingFilters" ng-class="{'active': expanded.loaderService.model.loadingFilters}")
          loader
        div.no-opportunities(ng-show="expanded.userService.model.targetLists.sharedArchivedCount === 0 && expanded.userService.model.targetLists.ownedArchived === 0")
          h4 It seems that you don’t have any Archived Target Lists.
        ul
          li(ng-repeat="list in expanded.userService.model.targetLists.archived | filter:{deleted:false}| orderBy:expanded.sortProperty:expanded.reverse").clearfix
            div.checkbox-wrapper(ng-click="expanded.toggle(list, expanded.selected)")
              md-checkbox(aria-label="Select Item" ng-checked="expanded.exists(list, expanded.selected)")
            div.checkbox-sibling.archived(column="12"
                                          ui-sref="target-list-detail({id: list.id})"
                                          analytics-on="click"
                                          analytics-event="View Target List"
                                          analytics-category="Target Lists - Archived"
                                          analytics-label="{{list.id}}")
              div(row)
                h4(column="6").left {{list.name}}
                div(column="2")
                  h5.accent.dropdown-menu-trigger.collaborators {{list.collaborators.length}}
                    span(ng-if="list.collaborators.length > 1")  collaborators
                    span(ng-if="list.collaborators.length < 2")  collaborator
                    ul(ng-class="{'long-collaborators': list.collaborators.length > 4}").dropdown-menu
                      li(ng-class="{'long-collaborators': list.collaborators.length > 4}").member.creator {{expanded.userService.model.currentUser.firstName}} {{expanded.userService.model.currentUser.lastName}}
                      li(ng-class="{'long-collaborators': list.collaborators.length > 4}" ng-repeat="collaborator in list.collaborators| filter: {permissionLevel: 'Collaborate'} | orderBy:'user.firstName'").member {{collaborator.user.firstName | uppercase}} {{collaborator.user.lastName | uppercase}}
                h5(column="2" am-time-ago="(list.dateOpportunitiesUpdated ? list.dateOpportunitiesUpdated : list.createdAt | amUtc | amLocal)").accent.date
                h4(column="1").closed {{list.opportunitiesSummary.closedOpportunitiesCount | number}}
                h4(column="1") {{list.opportunities | number}}
              div(row).creator
              h5(column="3" ng-if="list.targetListAuthor === 'current user'").accent.left &nbsp;
              h5(column="3" ng-if="list.targetListAuthor !== 'current user'").accent.left {{list.targetListAuthor}}
              md-progress-linear(md-mode="determinate" ng-value="expanded.ratio(list.closedOpportunities, list.opportunities)")
