.chips(ng-if="filter.chipsService.model.length")
  label Active Filters
  span &nbsp;
  md-chips(ng-model="filter.chipsService.model" md-removable="true" name="Active Filters" md-on-remove="filter.chipsService.removeFromFilterService($chip)")
    input(class="hidden" disabled="true")
    div.md-chip-remove(md-chip-remove ng-if="$chip.removable")
      md-icon(md-svg-src='data:image/svg+xml;base64,PHN2ZyB2ZXJzaW9uPSIxLjEiIHg9IjBweCIgeT0iMHB4IiB2aWV3Qm94PSIwIDAgMjQgMjQiPjxnPjxwYXRoIGQ9Ik0xOSA2LjQxbC0xLjQxLTEuNDEtNS41OSA1LjU5LTUuNTktNS41OS0xLjQxIDEuNDEgNS41OSA1LjU5LTUuNTkgNS41OSAxLjQxIDEuNDEgNS41OS01LjU5IDUuNTkgNS41OSAxLjQxLTEuNDEtNS41OS01LjU5eiIvPjwvZz48L3N2Zz4=', aria-hidden='true')
        svg(version='1.1', x='0px', y='0px', viewbox='0 0 24 24', fit='', height='100%', width='100%', preserveaspectratio='xMidYMid meet', focusable='false')
          g
            path(d='M19 6.41l-1.41-1.41-5.59 5.59-5.59-5.59-1.41 1.41 5.59 5.59-5.59 5.59 1.41 1.41 5.59-5.59 5.59 5.59 1.41-1.41-5.59-5.59z')
    md-chip-template(custom-chip="" ng-class="{closable: $chip.removable}")
      div(ng-switch="$chip.type")
        div(ng-switch-when="state") {{$chip.name}}
        div(ng-switch-when="cbbdChain") {{$chip.name}}
        div(ng-switch-when="priorityPackage") {{$chip.name}}
        div(ng-switch-when="zipCode") {{$chip.name | zipcode}}
        div(ng-switch-default) {{$chip.name | titlecase}}
form.filters(column='12' ng-class="{'target-list': filter.opportunities}")
  div.expand(row)
    div(class='more-filters')
      a(ng-click="filter.expandDropdown();")
        span(ng-class="{ 'chevron-up': filter.filtersService.model.expanded, 'chevron-down': !filter.filtersService.model.expanded}")
        span.accent(ng-if="filter.filtersService.model.expanded") Show Less Filters
        span.accent(ng-if="!filter.filtersService.model.expanded") Show More Filters

  div(row)
    legend Select <strong>premise type</strong> followed by a <strong>retailer</strong> and/or <strong>distributor</strong> to begin your search
    div(column='2')
      label Premise Type
      md-radio-group(ng-model="filter.filtersService.model.selected.premiseType")
        md-radio-button(ng-repeat="p in filter.filtersService.model.premises | filter: '!All'"  class="md-primary" ng-value="p.value" aria-label="{{p.name}}" ng-click="filter.chipsService.addChip(p.name, 'premiseType', true, false); filter.resetTradeChannels()") {{::p.name}}
    div(column='5')
      label Retailer
      div(row).retailer.dropdown-filter
        div(column='4').dropdown
          md-select(ng-model="filter.filtersService.model.selected.retailer" placeholder="Chain" ng-init="filter.filtersService.model.selected.retailer = 'Chain'")
            md-option(ng-repeat="type in filter.filtersService.model.retailer" ng-click="filter.placeholderSelect(type.hintText)" aria-label="{{type.name}}" value="{{type.name}}") {{::type.name}}
        div(column='8')
          inline-search(ng-if="filter.filtersService.model.selected.retailer === 'Store'" type="store" placeholder="{{filter.hintTextPlaceholder}}" chosen-result="filter.filtersService.model.store" show-address="true" callback="filter.applyFilterArr(filter.filtersService.model.selected.store, result, 'store', result.name + ' - ' + result.address.split(',')[0])")
          inline-search(ng-if="filter.filtersService.model.selected.retailer === 'Chain'" type="chain" placeholder="{{filter.hintTextPlaceholder}}" chosen-result="filter.filtersService.model.chain" callback="filter.applyFilterArr(filter.filtersService.model.selected[result.type], result, result.type, result.name)")
    div(column='3')
      label Distributor
      inline-search(type="distributor" placeholder="Name" chosen-result="filter.filtersService.model.distributor" callback="filter.applyFilterArr(filter.filtersService.model.selected.distributor, result, 'distributor', result.name)")
    div(column='2')
      label Account Scope
      md-checkbox(ng-model="filter.filtersService.model.selected.myAccountsOnly" aria-label="My Accounts" ng-click="filter.chipsService.updateChip('myAccountsOnly', 'My Accounts Only')") My Accounts Only

  div(row)
    div(column='2' ng-switch="filter.shouldEnableSimpleDistribution()")
      label Distribution Type
      div(ng-switch-when="true" ng-cloak)
        md-checkbox(ng-model="filter.filtersService.model.selected.simpleDistributionType" aria-label="Simple Distribution" ng-click="filter.chipsService.updateChip('simpleDistributionType', 'Simple')") Simple

      .tooltip(ng-switch-when="false" ng-cloak)
        md-checkbox(ng-disabled="true" ng-model="filter.filtersService.model.selected.simpleDistributionType" aria-label="Simple Distribution" ng-click="filter.chipsService.updateChip('simpleDistributionType', 'Simple')") Simple
        md-tooltip(md-direction="bottom")
          label Simple Distribution Type
          p To enable this option, please select only <span class="bold">Non-Buy</span>, <span class="bold">At Risk</span>, and <span class="bold">New Placement (No Rebuy)</span> Opportunity Types.

    div(column='4')
      .tooltip-wrap
        label Opportunity Type
          .tooltip
          compass-tooltip(
            [title]="filter.opportunityTypeTooltipInputData.title",
            [markup-string]="filter.opportunityTypeTooltipInputData.markupString"
          )
            img.tooltip-image(src="../../../assets/img/icons/help-circle.svg")
      .dropdown-filter
        .dropdown
          md-select(
            md-on-open="filter.appendDoneButton()",
            ng-change="filter.changeOpportunitySelection()",
            ng-model="filter.filtersService.model.selected.opportunityType",
            multiple="true",
            md-on-close="filter.applyFilterMulti(filter.filtersService.model.selected.opportunityType, filter.filtersService.model.selected.opportunityType, 'opportunityType'); filter.closeDoneButton()",
            aria-label="Opportunity Type Dropdown",
            md-selected-text="filter.filtersService.model.selected.opportunityType.join(', ')"
          )
            md-option.tooltip-list-item-wrap(
              ng-disabled="filter.filtersService.model.selected.simpleDistributionType && !filter.isSimpleDistributionOpportunityType(type.name)",
              ng-repeat="type in filter.filtersService.model.opportunitiesType",
              aria-label="{{type.name}}",
              value="{{type.name}}",
              ng-click="filter.chooseOpportunityType(type.name)"
            )
              md-tooltip(md-direction="bottom" md-z-index="1001" ng-if="filter.filtersService.model.selected.simpleDistributionType && !filter.isSimpleDistributionOpportunityType(type.name)")
                label {{type.name}}
                p To enable this option, please unselect the Simple Distribution Type filter.
              span {{::type.name}}

    div(column='4' ng-if="filter.filtersService.model.selected.premiseType === 'off'")
      label Brand / Master SKU
      inline-search(type="product" variety="sku" placeholder="Brand or SKU" chosen-result="filter.filtersService.model.masterSKU" callback="filter.applyFilterArr(filter.filtersService.model.selected.masterSKU, result, 'masterSKU', result.name)")
    div(column='4' ng-if="filter.filtersService.model.selected.premiseType === 'on'")
      label Brand / Package
      inline-search(type="product" variety="package" placeholder="Brand or Package" chosen-result="filter.filtersService.model.masterSKU" callback="filter.applyFilterArr(filter.filtersService.model.selected.masterSKU, result, 'masterSKU', result.name)")

    div.checkbox-inline(column='2')
      label Store Type
      md-checkbox(ng-model="filter.filtersService.model.cbbdChainIndependent" aria-label="Independent" ng-change="filter.applyFilterArr(filter.filtersService.model.selected.cbbdChain, 'Independent', 'cbbdChain')") Independent
      md-checkbox(ng-model="filter.filtersService.model.cbbdChainCbbd" aria-label="CBBD Chain" ng-change="filter.applyFilterArr(filter.filtersService.model.selected.cbbdChain, 'Cbbd', 'cbbdChain', 'CBBD Chain')") CBBD Chain

  //- MORE FILTERS
  div(row)
    div.predicted-impact(column='2' ng-show="filter.filtersService.model.expanded")
      div.nested-columns
        label Predicted Impact
        md-checkbox(ng-model="filter.filtersService.model.predictedImpactHigh" aria-label="Predicted Impact High" ng-change="filter.applyFilterArr(filter.filtersService.model.selected.impact, 'High', 'impact', 'High Impact')")
          | High
          span.impact.high-small
        md-checkbox(ng-model="filter.filtersService.model.predictedImpactMedium" aria-label="Predicted Impact Medium" ng-change="filter.applyFilterArr(filter.filtersService.model.selected.impact, 'Medium', 'impact', 'Medium Impact')")
          | Medium
          span.impact.medium-small
        md-checkbox(ng-model="filter.filtersService.model.predictedImpactLow" aria-label="Predicted Impact Low" ng-change="filter.applyFilterArr(filter.filtersService.model.selected.impact, 'Low', 'impact', 'Low Impact')")
          | Low
          span.impact.low-small

      div.nested-columns
        label Opportunity Status
        md-checkbox(ng-model="filter.filtersService.model.opportunityStatusOpen" aria-label="Open" ng-change="filter.applyFilterArr(filter.filtersService.model.selected.opportunityStatus, 'Open', 'opportunityStatus')") Open
        md-checkbox(ng-model="filter.filtersService.model.opportunityStatusTargeted" aria-label="Targeted" ng-change="filter.applyFilterArr(filter.filtersService.model.selected.opportunityStatus, 'Targeted', 'opportunityStatus')") Targeted

    div(column='4' ng-show="filter.filtersService.model.expanded")
      div(class='product-types-wrapper')
        label Feature Product Types
        .dropdown-filter
          .dropdown
            md-select(
              md-on-open="filter.appendDoneButton()"
              ng-change="filter.changeFeatureTypeSelection()",
              ng-model="filter.filtersService.model.selected.featureType"
              multiple="true"
              md-on-close="filter.applyFilterMulti(filter.filtersService.model.selected.featureType, filter.filtersService.model.selected.featureType, 'featureType'); filter.closeDoneButton()",
              aria-label="Feature Product Types Dropdown"
              md-selected-text="filter.featureTypeText()"
            )
              md-option(
                ng-repeat="type in filter.filtersService.model.featureType",
                aria-label="{{type.name}}"
                value="{{type.name}}"
                ng-click="filter.chooseFeatureType(type.name)"
              ) {{::type.name}}

        label Authorized Product Types
        .dropdown-filter
          .dropdown
            md-select(
              md-on-open="filter.appendDoneButton()"
              ng-change="filter.changeItemAuthorizationTypeSelection()",
              ng-model="filter.filtersService.model.selected.itemAuthorizationType"
              multiple="true"
              md-on-close="filter.applyFilterMulti(filter.filtersService.model.selected.itemAuthorizationType, filter.filtersService.model.selected.itemAuthorizationType, 'itemAuthorizationType'); filter.closeDoneButton()",
              aria-label="Authorized Product Types Dropdown"
              md-selected-text="filter.autorizationProductTypesText()"
            )
              md-option(
                ng-repeat="type in filter.filtersService.model.itemAuthorizationType",
                aria-label="{{type.name}}"
                value="{{type.name}}"
                ng-click="filter.chooseItemAuthorizationType(type.name)"
              ) {{::type.name}}

      div.filter-blocks-inline
        div.nested-columns
          label Priority Packages
          md-checkbox(ng-repeat="priority in filter.filtersService.model.priorityPackages" ng-model="filter.filtersService.model['priorityPackage' + priority.name]" aria-label="Priority Package {{priority.name}}" ng-change="filter.applyFilterArr(filter.filtersService.model.selected.priorityPackage, priority.name, 'priorityPackage')") {{priority.label}}

    div(column='2' ng-show="filter.filtersService.model.expanded")
      div.checkbox-inline
        label Store Segmentation
        md-checkbox(ng-model="filter.filtersService.model.storeSegmentationA" aria-label="Store Segmentation A" ng-change="filter.applyFilterArr(filter.filtersService.model.selected.segmentation, 'A', 'segmentation', 'Segment A')") A
        md-checkbox(ng-model="filter.filtersService.model.storeSegmentationB" aria-label="Store Segmentation B" ng-change="filter.applyFilterArr(filter.filtersService.model.selected.segmentation, 'B', 'segmentation', 'Segment B')") B
        md-checkbox(ng-model="filter.filtersService.model.storeSegmentationC" aria-label="Store Segmentation C" ng-change="filter.applyFilterArr(filter.filtersService.model.selected.segmentation, 'C', 'segmentation', 'Segment C')") C

      div.nested-columns.nested-row
        label STORE FORMAT
        md-radio-group(ng-model="filter.filtersService.model.selected.storeFormat" ng-init="filter.filtersService.model.selected.storeFormat = ''")
          md-radio-button.md-primary(ng-repeat="format in filter.filtersService.accountFilters.storeFormats track by format.value" aria-label="{{format.name}}" ng-value="format.value" ng-click="format.value !== '' ? filter.chipsService.updateChip('storeFormat', format.chipValue) : filter.chipsService.addChip('All Formats', 'storeFormat', true, false)") {{::format.name}}

      div.nested-columns.nested-row
        .tooltip-wrap
          label Store Status
            .tooltip
              compass-tooltip(
                [title]="filter.storeStatusTooltipInputData.title",
                [markup-string]="filter.storeStatusTooltipInputData.markupString"
              )
                img.tooltip-image(src="../../../assets/img/icons/help-circle.svg")
        md-checkbox(ng-model="filter.filtersService.model.salesStatusSold" aria-label="Sold" ng-change="filter.applyFilterArr(filter.filtersService.model.selected.salesStatus, 'Sold', 'salesStatus', 'Sold')") Sold
        md-checkbox(ng-model="filter.filtersService.model.salesStatusUnsold" aria-label="Unsold" ng-change="filter.applyFilterArr(filter.filtersService.model.selected.salesStatus, 'Unsold', 'salesStatus', 'Unsold')") Unsold

    div.location-contact-opps(column='4' ng-show="filter.filtersService.model.expanded")
      div(column='6' class='location-city')
        label.location Location
          inline-search(type="location" placeholder="City or Zip" chosen-result="filter.filtersService.model.location" callback="filter.applyLocations(result)")

      div(column='6' class='location-state')
        label.state State
          .dropdown-filter
            .dropdown.state-dropdown
              md-select.state-dropdown(md-on-open="filter.appendDoneButton()" ng-model="filter.filtersService.model.states" multiple="true" placeholder="State" md-on-close="filter.applyStates(filter.filtersService.model.states); filter.closeDoneButton()" aria-label="State Dropdown")
                md-option(ng-repeat="state in filter.states" aria-label="{{state.name}}" value="{{state.code}}" type="state") {{::state.name}}

      label CBBD Contact
        inline-search(type="user" placeholder="Name" chosen-result="filter.filtersService.model.contact" callback="filter.applyFilterArr(filter.filtersService.model.selected.contact, result, 'contact', result.firstName + ' ' + result.lastName)")

      div.checkbox-inline.trade-channel
        label Trade Channel
        md-checkbox(ng-repeat="channel in filter.filtersService.model.tradeChannels[filter.filtersService.model.selected.premiseType]" ng-model="filter.filtersService.model['tradeChannel' + channel.name]" aria-label="Trade Channel {{channel.name}}" ng-change="filter.applyFilterArr(filter.filtersService.model.selected.tradeChannel, channel.name, 'tradeChannel')") {{channel.label}}

  div(row)
    div(column='12' class='apply-filters')
      button(value='Apply Filters' type="submit" class="btn-action" ng-click="filter.applyFilters()" ng-disabled="filter.filtersService.model.filtersApplied || filter.filtersService.model.filtersValidCount === 0") Apply Filters
      .secondary-button-container(ng-class="{'reset-only': !filter.showSaveButton}")
        a(ng-if="filter.showSaveButton" ng-click="!filter.filtersService.model.disableSaveFilter || filter.modalSaveOpportunityFilter($event)" ng-disabled="!filter.filtersService.model.disableSaveFilter" ng-class="{'disabled save-filterset-icon-disabled': !filter.filtersService.model.disableSaveFilter, 'save-report-hover': filter.filtersService.model.disableSaveFilter}").accent.save-filterset-icon Save Report
        a(ng-click="filter.resetFilters()" ng-disabled="!filter.filtersService.model.disableReset" ng-class="{'disabled reset-icon-disabled': !filter.filtersService.model.disableReset, 'reset-icon-hover': !filter.filtersService.model.disableReset}").accent.reset-icon Reset
