beer-loader.individual-loader(*ngIf="loadingState===loadingStateEnum.Loading", [showLoader]="loadingState===loadingStateEnum.Loading")

div.performance-table-wrapper

  div.performance-table-summary.col-100-pct
    div.summary-header
      span {{ performanceMetric }}
      span(*ngIf='dateRange && showDateRange')  {{ dateRange.displayCodeQuarterDate }}
    div.summary-date-range
      span(*ngIf='dateRange && showDateRange') {{ dateRange.range }}

  table.my-performance-table.col-100-pct.view-type([ngClass]="tableClasses")

    thead.col-100-pct

      tr.top-header.col-100-pct([ngClass]="getColumnWidthClass()")
        th.left-col.sort-indicator(colspan=1, (click)="sortRows(columnType.descriptionRow0)")
          span {{ tableHeaderRow[0] }}
            sort-indicator([status]="getSortStatus(columnType.descriptionRow0)")
        th.center-col.spanned.sort-indicator(colspan=3) {{ tableHeaderRow[1] }}
        th.right-col.sort-indicator(*ngIf="showContributionToVolume", colspan=1, (click)="sortRows(columnType.ctv)")
          span {{ tableHeaderRow[2] }}
            sort-indicator([status]="getSortStatus(columnType.ctv)")
        th.right-col.opportunities.sort-indicator(*ngIf="showOpportunities", colspan=1)
          span OPPS

      tr.sub-header.col-100-pct([ngClass]="getSubHeaderClasses()")
        th(colspan=1)
        th.center-col.sort-indicator(*ngIf='dateRange && dateRange.quarterDateLabel', colspan=1, (click)="sortRows(columnType.metricColumn0)")
          span {{ dateRange.displayCode }} <br>
          span {{ dateRange.quarterDateLabel }}
            sort-indicator([status]='getSortStatus(columnType.metricColumn0)')
        th.center-col.sort-indicator(*ngIf='dateRange && !dateRange.quarterDateLabel', colspan=1, (click)="sortRows(columnType.metricColumn0)")
          span {{ dateRange.displayCode }}
            sort-indicator([status]='getSortStatus(columnType.metricColumn0)')
        th.center-col.sort-indicator(colspan=1, (click)="sortRows(columnType.metricColumn1)")
          span VS YA
            sort-indicator([status]='getSortStatus(columnType.metricColumn1)')
        th.center-col.sort-indicator(colspan=1, (click)="sortRows(columnType.metricColumn2)")
          span VS YA %
            sort-indicator([status]='getSortStatus(columnType.metricColumn2)')
        th.right-col(*ngIf="showContributionToVolume", colspan=1)
        th.right-col.opportunities(*ngIf="showOpportunities", colspan=1)

      tr.total-row.col-100-pct(
        *ngIf="totalRow",
        [ngClass]="getTotalRowClasses()",
        my-performance-table-row,
        [rowData]="totalRow",
        [showContributionToVolume]="showContributionToVolume",
        (click)="onElementClicked.emit({type: rowType.total, index: $event})")

      tr.dismissible-total-row.col-100-pct(
        *ngIf="dismissibleTotalRow",
        [ngClass]="getDismissibleTotalRowClasses()",
        my-performance-table-row,
        [rowData]="dismissibleTotalRow",
        [showX]=true,
        [showContributionToVolume]="showContributionToVolume",
        [showOpportunities]="false",
        [showEmptyLastColumn]="showOpportunities",
        (click)="onElementClicked.emit({type: rowType.dismissibleTotal, index: $event, row: dismissibleTotalRow})",
        (onDismissibleRowXClicked)="onDismissibleRowXClicked.emit()",
        (onOpportunityCountClicked)="onOpportunityCountClicked.emit(dismissibleTotalRow)")

    tbody([ngClass]="getTableBodyClasses()")
      tr.entity-row.col-100-pct(
        *ngFor="let rowData of sortedTableData, let rowIndex = index",
        [ngClass]="getEntityRowClasses(rowData)",
        my-performance-table-row,
        matRipple,
        matRippleColor="{{rippleColor}}",
        [rowData]="rowData",
        [showContributionToVolume]="showContributionToVolume",
        [showOpportunities]="showOpportunities",
        [opportunitiesError]="opportunitiesError",
        [viewType]="viewType",
        (click)="onRowClicked(rowType.data, rowIndex, rowData)",
        (onSublineClicked)="onSublineClicked.emit(rowData)",
        (onOpportunityCountClicked)="onOpportunityCountClicked.emit(rowData)")
